* {
	margin: 0px;
	padding: 0px;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: auto;
	clear: both;
}
#home{
	padding-top:20px;
	width: 80%;
	height: 400px;	
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	clear: both;
	text-align: center;
	background-color: white;
}

#image{
	width: 30%;
	height: 300px;
	background-color: white;
	float: left;
	padding-top: 20px;
	
}

#image img{
	width: 270px;
	height: 350px;
}

#thongtin{
	padding-right:1px;
	width: 67%;
	height: 300px;
	background-color: white;
	float: left;
	padding-top: 20px;
	text-align: center;
}

#banner {
	width: 1100px;
	height: 300px;
	background-image: url(../img/banner.jpg);
	clear: both;
}

#menu {
	position: relative;
	width: 1100px;
	height: 40px;
	clear: both;
	background-color: #33CC33;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	margin-top: 22px;
	clear: both;
	text-align: center;
	height: auto;
	border-radius: 8px;
	border-style: solid;
	border-color: #653232;
	border-width: 1px;
	background-color: #33CC33;
}

#menu1 {
	position: relative;
	float: left;
	width: 70%;
	height: 40px;
	clear: both;
}

#menu1 ul li {
	font-family: openSanR, Calibri, Arial;
	margin-left: 7px;
	list-style-type: none;
	float: left;
	color: #FFF;
	font-size: 18px;
	padding: 7px 8px;
	text-align: center;
	position: relative;
}

#menu1 ul li:after {
	position: absolute;
	left: 7px;
	width: 0px;
	height: 2px;
	bottom: 5px;
	background-color: #ff3296;
	border-radius: 3px;
}

#menu1 ul li a:hover {
	color: #ff3296;
}

#menu1 ul li:hover:after {
	width: 90%;
}

#menu1 ul>li:hover ul {
	display: block;
}

#menu1 ul li a {
	color: #FFF;
	text-decoration: none;
}

#dangnhap ul li a {
	color: black;
	text-decoration: none;
}

#dangnhap {
	width: auto;
	height: auto;
	float: right;
	clear: both;
}

#dangnhap ul li {
	font-family: openSanR, Calibri, Arial;
	list-style-type: none;
	color: black;
	float: left;
	font-size: 14px;
	padding: 10px 14px;
}
.select{
	clear:both;
	width: 1100px;
	height: auto;
	text-align: center;
}
.select form input[type="text"]{
    border:1px solid #4b8f29;
    border-radius: 3px;
    width: 70%;
    padding: 10px 5px;
}
.select form input[type="submit"]{
    position: absolute;
    border: none;
    padding: 11px 20px;
    border-radius: 0px 3px 3px 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
.select form input[type="submit"]:hover{
    background: rgb(109,0,25); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(109,0,25,1) 0%, rgba(143,2,34,1) 44%, rgba(169,3,41,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,0,25,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(169,3,41,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 44%,rgba(169,3,41,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 44%,rgba(169,3,41,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 44%,rgba(169,3,41,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(109,0,25,1) 0%,rgba(143,2,34,1) 44%,rgba(169,3,41,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d0019', endColorstr='#a90329',GradientType=0 ); /* IE6-9 */
}
#silde_img {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	height: 200px;
}

#silde_img img {
	width: 1100px;
	height: 220px;
}

#conten_right {
	margin-left: auto;
	margin-right: auto;
	width: 1100px;
	border-radius: 8px;
	border-style: solid;
	border-color: #b68080;
	border-width: 1px;
	height: auto;
}

#sanpham {
	width: 1100px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#sp {
	text-align: center;
	width: 25%;
	height: auto;
	float: left;
	position: relative;
	background-color: #FFFAF0;
}
#giohang{
	width: 1100px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
